{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>Disney World MAD-LIB</h1>
<br>
<h2>Directions</h2><br>
<p>1. Click BEGIN to start </p> <br>
<p>2. Type in a word that the prompt asks for (Eg. AJECTIVE = green). Try not to use the same word twice</p><br>
<p>3. Click submit after typing in your word, and continue through questions 1-15</p><br>
<p>4. After you finish the questions choose the story you want </p>
<br>
<br>
<a href="/page1" class="homebutton" id="beginbutton">BEGIN</a>

<a id
    <br>
{% endblock %}
