
  {% extends "layout.html" %}

  {% block title %}Page 3{% endblock %}

  {% block content %}

<h1>Arcade </h1>
<p>When I go to the arcade with {{ session ['1FRIENDSNAME'] }} there are lots of games to play. I spend lots of time there with my friends. When we first got there, we raced in the {{ session ['3VEHICLE'] }}s . The point of the game is to {{ session ['15VERB'] }} every robot. You also need to save people. Then you can go to the next level.
In the game Star Wars you are Luke Skywalker and you try to destroy every {{ session ['11NOUN'] }}. In a car racing/motorcycle racing game you need to beat every computerized vehicle that you are {{ session ['6INGVERB'] }} against.
There are a whole lot of other {{ session ['4AJECTIVE'] }} games. I exchanged my {{ session ['2NUMBER'] }} tickets for a {{ session ['5AJECTIVE'] }} prize. Once you're done you can cash in your tickets to get a big {{ session ['7ANIMAL'] }}. When I went to this arcade I didn't believe how much {{ session ['8AJECTIVE'] }} it would be. So far I have had a lot of fun every time I've been to this great arcade! </p>

  {% endblock %}
