
  {% extends "layout.html" %}

  {% block title %}Page 3{% endblock %}

  {% block content %}

<h1>Visiting the Zoo </h1>
  <p>Today I went to the zoo. I saw a(n) {{ session ['4AJECTIVE'] }} {{ session ['1FRIENDSNAME'] }} jumping up and down in its tree. They {{ session ['13PASTTENSEVERB'] }}) through the large tunnel that led to its {{ session ['8AJECTIVE'] }} {{ session ['11NOUN'] }}. I got some peanuts and passed them through the cage to a gigantic gray {{ session ['7ANIMAL'] }} towering above my head. Feeding that animal made me hungry. I went to get a {{ session ['10AJECTIVE'] }} scoop of ice cream. It filled my stomach. Afterwards I had to {{ session ['15VERB'] }} to catch our bus. When I got home I {{ session ['1FRIENDSNAME'] }} jumping up and down in its tree. They {{ session ['12PASTTENSEVERB'] }}) my
mom for a {{ session ['5AJECTIVE'] }} day at the zoo.</p>

  {% endblock %}
